# 627. Swap Salary

easy

https://leetcode.com/problems/swap-salary/description/
    
Write an SQL query to swap all 'f' and 'm' values (i.e., change all 'f' values to 'm' and vice versa) with a single update statement and no intermediate temporary tables.

Note that you must write a single update statement, do not write any select statement for this problem.

# Option 1: CASE


update salary

set = 
    (CASE sex 
    
    WHEN 'f' THEN 'm' 
    
    ELSE 'f' END)

# Option 2: Tertiary operator

UPDATE salary

SET sex = 

    IF(sex = 'm', 'f', 'm')

# Option 3: REPLACE function

It actually works here as *delete*

UPDATE Salary

set sex = REPLACE('fm', sex, '')