# 177. Nth Highest Salary

https://leetcode.com/problems/nth-highest-salary/description/

Write an SQL query to report the nth highest salary from the Employee table. If there is no nth highest salary, the query should report null.

CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT

BEGIN

SET N = N - 1;

RETURN (SELECT 
       IFNULL ((
       
          SELECT DISTINCT salary 
          
          FROM employee
          
          ORDER BY salary desc
          
          LIMIT N, 1), 
          
          NULL));
          
END